body{
    width: 100%;
    height: 100%;
    background: #111827;
}

.login-section{
    margin-top: 50px;
    background: #0B1120;
}
.sign-up-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #0B1120;
}

.reset-password-email-section{
    margin-top: 50px;
}
.login-design-section,.login-design-section label,.login-design-section input,.login-design-section input::placeholder,.login-design-section p{
    background: #1F2937;
    color: white;
}


.signup-design-section,.signup-design-section label,.signup-design-section input,.signup-design-section input::placeholder,.signup-design-section p{
    background: #1F2937;
    color: white;
}


@media (max-width:768px) {
    .reset-password-email-main-body{
        position: relative;
        top: 25%;
    }
    .sign-up-section{
        padding-top: 0px;
        background: #0B1120;
    }
}