
.products-section{
    max-width: 100%;
    min-height: 500px;
    
    margin: auto;
    background: #1F2937;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.products-card-container{
    width: 100%;
    min-height: 400px;
    margin: auto;
    background-image: linear-gradient(to bottom, #1F2937 0%, #0b11205b 80%);
    overflow: hidden;
}

.products-cards{
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

#pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0B1120;
}
#prevBtn {
    min-width: 150px;
    margin: 10px;
}
#search-dropdown{
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    color: white;
}
#nextBtn{
    min-width: 150px;
    margin: 10px;
}
.search-area{
    width: 100%;
    position: relative;
    display: block;
    background: rgb(55 65 81);
    padding-top: 10px;
}
#items-per-page{
    max-width: 145px;
    font-size: 12px;
    outline: none;
    background: rgb(55 65 81);
    color: white;
    border-radius: 0;
}

#category-select{
    max-width: 145px;
    font-size: 12px;
    outline: none;
    background: rgb(55 65 81);
    color: white;
    border-radius: 0;
}


@media (max-width: 660px) {
   
    .flex-area{
       height: 100px;
       flex-wrap: wrap;
       flex-grow: 1;
    }
    #items-per-page{
        max-width: 49%;
        height: 50px;
        border-radius: 0;
    }
    #category-select{
        max-width: 50%;
        height: 50px;
        border-radius: 0;
        margin-left: 2px;
    }
}